img {
	width: 100%;
	height: 100%;
}
body{
	background-color: black;
}
p {
    color: white;
}
h1 {
    color:white;
}


}
.article_section {
	float: right;
	border: double;
	clear:left;
	text-decoration: overline;
}

li {
    color: white;
}




.background_image
{
    width: 200px;
    height: 200px;
    background: #f01;
    position: absolute;
    top: 0;
    -webkit-transition: top 2s;
    -moz-transition: top 2s;
    -o-transition: top 2s;
}

.background_image:hover
{
    top: 500px;
    
    -webkit-transition: top 0.3s;
    -moz-transition: top 0.3s;
    -o-transition: top 0.3s;
}
.sidebar {
    float: left;
    clear: right;
}